#result-container {
    text-align: center;
}
#imc-number {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
}
#imc-info {
    font-size: 1.4rem;
    color: var(--ccc);
}
#result-container h3 {
    margin-top: 1rem;
    color: var(--dfdfdf);
}
#result-container {
    display: flex;
    flex-direction: column;
}
#imc-table {
    margin: 1rem 0;
    font-size: 0.8rem;
}
.table-header {
    font-weight: bold;
    color: var(--ccc);
}
.table-header,
.table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--444);
}
.table-header h4,
.table-data p {
    flex: 1;
}
.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
    min-width: 80px;
}
#back-btn {
    align-self: center;
}
.good {
    color: var(--12db34);
}
.low {
    color: var(--dbce12);
}
.medium {
    color: var(--db6212);
}
.high {
    color: var(--db1912);
}